#   don't copy local build file
build/
out/

# dont copy git repo data
.git/
.gitignore

# IDE config file
.vscode/
*.code-workspace

# temp file/ cache
*.swp
*~
*.bak
*.tmp

# sys file
.DS_Store
Thumbs.db

